html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

footer {
    margin-top: 50px;
    color: #888;
}

.hidden-id {
    display: none;
}

.uil-reload-css {
    -webkit-transform: scale(0.16);
    position: absolute;
    top: -3px;
    right: 80px;
    width: 32px;
    height: 32px;
}

.main {
    padding: 20px;
    padding-top: 100px;
    
    h1 {
        margin-top: 0;
    }
    
    h2 {
        margin-top: 50px;
    }
}

.container {
    position: relative;
}

form {
    .form-control-feedback {
        display: none;
    }

    .has-error {
        .form-control-feedback {
            display: inline-block;
        }
    }
}

.nav-tabs {
    margin-bottom: 10px;
}

table {
    tr {
        th {
            font-weight: bold;
        }
    }
}