<div class="container main">
    <div class="row">
        <div class="col col-md-6">
            <h1>Login</h1>
            <form role="form" name="form" novalidate="novalidate" (ngSubmit)="onSubmit()" #form="ngForm">
                <div class="form-group" [ngClass]="{'has-error has-feedback': username.dirty && !username.valid}">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" #username="ngModel" id="username" name="username" placeholder="Username" [(ngModel)]="user.username" autofocus="autofocus" required="required" />
                </div>
                <div class="form-group" [ngClass]="{'has-error has-feedback': password.dirty && password.invalid}">
                    <label for="password">Password</label>
                    <input class="form-control" #password="ngModel" id="password" name="password" placeholder="Password" type="password" [(ngModel)]="user.password" required="required" (ngModelChange)="onPasswordChange()" />
                </div>
                <button class="btn btn-default" type="submit" [disabled]="!form.valid">Login</button>
            </form>
            <footer>
                <p>Tubewarder PROJECT_VERSION &copy; <a href="https://weweave.net" target="_blank">weweave</a>.</p>
                <p data-ng-show="!licensed" class="ng-cloak">UNLICENSED (free edition for non-commercial/non-production use)</p>
            </footer>
        </div>
    </div>
</div>